// FUENTES Poppins 500 y Familjen Grotesk 700
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@700&family=Poppins:wght@500&display=swap');
// COLORES
$color-violeta: #702F8A;
$color-amarillo: #F3E600;
$color-verde: #00CFB4;
$color-magenta: #DB3EB1;