.btn-main, .btn-sec, .btn-sec-s, .btn-main-s {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  background-color: #0075FF;
  color: white;
  border: none;
  border: 1px solid #0075FF;
}
.btn-main:hover, .btn-sec:hover, .btn-sec-s:hover, .btn-main-s:hover {
  background-color: white;
  color: #0075FF;
}
.btn-main-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.btn-sec, .btn-sec-s {
  color: black;
  background-color: transparent;
  border: none;
}
.btn-sec:hover, .btn-sec-s:hover {
  color: #888;
}
.btn-sec-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.main-menu {
  margin-bottom: 0;
}
.main-menu li {
  list-style: none;
  display: inline;
  font-size: 1rem;
  margin-right: 1rem;
}
.main-menu a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
.main-menu a:hover {
  text-decoration: underline;
}

.icon-sm i {
  font-size: 1.25rem;
  padding: 0.4rem 0.65rem;
  color: #0075FF;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3333333333);
}

.benefit {
  display: flex;
  flex-direction: column;
}
.benefit .icon {
  color: #0075FF;
  font-size: 7.5rem;
  text-align: center;
}
.benefit .description .title {
  font-size: 2rem;
  text-align: center;
}
.benefit .description .text {
  color: #888;
  font-weight: 600;
  text-align: center;
}
.benefit .cta {
  color: #0075FF;
  font-weight: 600;
  margin-top: 3rem;
  text-align: center;
}

.icon-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-desc .icon {
  padding: 0;
  color: #0075FF;
  font-size: 10rem;
}
.icon-desc .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: -2rem;
}

html {
  min-width: 100vw;
}

body {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-bottom: solid 1px #ddd;
}

.logo a img {
  max-width: 7rem;
}

.sec-home {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 3rem;
}
.sec-home .home-cta {
  flex: 1;
}
.sec-home .home-cta .cta-text {
  color: #0075FF;
}
.sec-home .home-cta .home-title {
  width: 25rem;
  font-size: 3.5rem;
}
.sec-home .home-cta .home-description {
  width: 25rem;
  font-weight: 700;
  margin-top: 1.5rem;
}
.sec-home .home-img img {
  width: 70%;
}

.sec-features, .sec-onboarding .intro, .sec-benefits .intro, .sec-benefits {
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-features .intro, .sec-onboarding .intro .intro, .sec-benefits .intro {
  text-align: center;
}
.sec-features .intro h3, .sec-onboarding .intro .intro h3, .sec-benefits .intro h3 {
  font-size: 1.8rem;
}
.sec-features .intro p, .sec-onboarding .intro .intro p, .sec-benefits .intro p {
  font-size: 0.9rem;
  color: #888;
}
.sec-features .features, .sec-onboarding .intro .features, .sec-benefits .features {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.sec-features .features .text, .sec-onboarding .intro .features .text, .sec-benefits .features .text {
  padding: 2rem 0;
  flex: 1;
}
.sec-features .features .text .feature, .sec-onboarding .intro .features .text .feature, .sec-benefits .features .text .feature {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sec-features .features .text .feature .description, .sec-onboarding .intro .features .text .feature .description, .sec-benefits .features .text .feature .description {
  margin-left: 1rem;
  max-width: 20rem;
}
.sec-features .features .text .feature .description .description-title, .sec-onboarding .intro .features .text .feature .description .description-title, .sec-benefits .features .text .feature .description .description-title {
  font-size: 1.25rem;
}
.sec-features .features .text .feature .description .description-text, .sec-onboarding .intro .features .text .feature .description .description-text, .sec-benefits .features .text .feature .description .description-text {
  font-size: 1rem;
}
.sec-features .features .image img, .sec-onboarding .intro .features .image img, .sec-benefits .features .image img {
  max-width: 28rem;
}

.sec-benefits {
  border-top: 1px solid #ddd;
}
.sec-benefits .benefits-cards {
  width: 100%;
  padding: 0 2rem 2rem 2rem;
}

.sec-kpis {
  background-color: #0075FF;
  color: #fff;
}
.sec-kpis .kpis-numbers {
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 3rem;
}
.sec-kpis .kpis-numbers .numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-kpis .kpis-numbers .numbers span {
  font-size: 2.5rem;
  font-weight: 700;
}
.sec-kpis .kpis-numbers .numbers p {
  font-size: 1rem;
}

.sec-onboarding .steps {
  width: 100%;
  max-width: 992px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
}
.sec-onboarding .steps .icon-desc i {
  font-size: 5rem;
}
.sec-onboarding .steps .icon-desc h4 {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.1rem;
}
.sec-onboarding .steps .step-separator {
  flex: 1;
  border-top: 2px solid #ccc;
  margin: 0 1rem;
}

.sec-footer-cta {
  background-color: #f4f8fe;
  padding: 5rem;
  background-image: url(/assets/img/earn-upsell-desktop.969a983ce74a462a68ba618b798a8cfa.webp);
  background-repeat: no-repeat;
  background-position: 100%;
  max-width: 100vw;
}
.sec-footer-cta .footer-cta {
  width: 50%;
}
.sec-footer-cta .footer-cta .cta-title {
  font-size: 2rem;
}
.sec-footer-cta .footer-cta .cta-description {
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .sec-footer-cta {
    background-image: none;
  }
  .sec-footer-cta .footer-cta {
    width: 100%;
    text-align: center;
  }
}/*# sourceMappingURL=index.css.map */